<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<!-- Errors were reported during translation. -->
	<!-- No class found for appender D -->
	<!-- Could not find transformer for null -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{ABSOLUTE} %5p %c{1}:%L - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="D">
		<!--No layout specified for appender named [D] of class [null] -->
	</appender>
	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="D" />
	</root>
</configuration>